@font-face {
  src: url(./fonts/Ibmplexserif.woff);
  font-family: 'IBM Plex Serif';
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu.woff);
}

.article__title {
  font-family: 'IBM Plex Serif', serif;
}

.article__content {
  font-family: 'Ubuntu', sans-serif;
}
